 :root {
    --bs-primary-rgb: 214, 243, 243;
    --bs-secondary-rgb: 142, 210, 208;
    --bs-success: #5cb85c;
    --bs-info: #5bc0de;
    --bs-warning-rgb: 255, 231, 112;
    --bs-danger: #d9534f; 
    --bs-light-rgb: 255, 255, 255; 
    --bs-dark-rgb: 0, 0, 0;
  }

  body {
    background-color: var(--bs-light-rgb);
    color: var(--bs-dark-rgb);
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }

  body {
    position: relative;
  }
  
  .skip-link {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    border: 3px solid #8ED2D0;
    text-decoration: none;
    top: -50px;
    position: absolute;
    transition: top 0.3s ease-in-out;
    z-index: 5;
  }
  
  .skip-link:focus {
    top: 10px;
    outline: none;
  }

  .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar .nav-link {
    color: black;
  }

  .navbar .nav-link:hover {
    color: #8ED2D0;
  }
  .navbar .nav-link.active {
    color: #8ED2D0;
    font-weight: 600;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  a {
    color: var(--bs-dark-rgb);
  }

  a:hover {
    color: #8ED2D0;
  }

  footer a:hover {
    color: white !important;
  }

  .heading1 {
    font-family: "Fredoka", serif;
    font-weight: 600;
    font-style: normal;
    white-space: nowrap;
  }

  .heading2 {
    font-family: "Fredoka", serif;
    font-weight: 400;
    font-size: 2rem;
  }

  .heading3 {
    font-family: "poppins", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
  }

  .btn-primary {
    --bs-btn-bg:#FFE770;
    --bs-btn-color: black;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .btn-primary:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }

  .btn-secondary {
    --bs-btn-bg: #8ED2D0;
    --bs-btn-color: black;
    --bs-btn-hover-bg: black;
    --bs-btn-hover-color: white;
  }

  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card.hover-scale:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 768px) {
    .card-responsive {
        max-width: 20rem;
        margin: 0 auto; 
    }
}

  @media (min-width: 1000px) { 
    .container {
      max-width: 1350px;
    } 
    .card-horizontal img {
      width: 100%;
      max-width: 300px;
      height: auto; 
      object-fit: cover;
    }
    .banner-image {
      border-radius: 50px;
      position: relative;
    }
}